{% extends "base.html" %}
{% block head_title %}Restaurant List || {{ block.super }}{% endblock head_title %}
{% block content %}
<h1>My Restaurant <small><a href='{% url "restaurants:create" %}'>Add</a></small></h1>

<ul>
    {% for obj in object_list %}
    <li><a href="{{ obj.get_absolute_url }}"> {{ obj.name }} </a> <br>
        {{ obj.location }}  {{ obj.category }}  {{ obj.timestamp }}</li>

    {% empty %}
    <li><a href='{% url "restaurants:create" %}'>Add One </a></li> </li>
    {% endfor %}
</ul>
{% endblock %}